<h1>ブログ詳細画面</h1>

<p>投稿者 : <%= @blog.user.name %></p>
<p>タイトル : <%= @blog.title %></p>
<p>内容 : <%= @blog.content %></p>
<% if @blog.image? %>
  <p>画像 : <%= image_tag @blog.image.url %></p>
<% end %>

<br />

<% if current_user.id != @blog.user_id %>
  <% if @favorite.blank? %>
    <p><%= link_to 'いいね', fav_blog_path(@blog), method: :post %></p>
  <% else %>
    <p><%= link_to 'いいねを取り消す', unfav_blog_path(@blog), method: :delete %></p>
  <% end %>
<% end %>

<%= link_to 'ブログ一覧に戻る', blogs_path %>
